name: Build Docker Image
on:
  push:
    branches: 
      prod

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out Source Code
        uses: actions/checkout@v4
      - name: Build Docker Image
        run: | 
          docker build -t mercury .
          docker images
          docker save --output mercury.tar mercury
      - name: Upload Artifacts
        run: |
          apt-get install -y jq
          curl -F file=@hello.txt $( curl -H 'Content-Type: application/json' -d '{"access_code": "${{ secrets.QNAP_ACCESS }}", "composed_link_id": "${{ secrets.QNAP_LINK_ID }}", "overwrite": true, "path": "/"}' -X POST https://www.myqnapcloud.com/ajax/share_upload_link | jq -r '.result.upload_url')


