@tailwind base;
@tailwind components;
@tailwind utilities;

.va-card {
    background-color: var(--va-background-element) !important;
    box-shadow: none !important;
}

.text-penalty-state-0 {
    color: #6d8581 !important;
}

.text-penalty-state-1 {
    color: #b91c1c !important;
}

.text-penalty-state-2 {
    color: #b45309 !important;
}

.text-penalty-state-3 {
    color: #047857 !important;
}

.text-penalty-state-4 {
    color: #4d7c0f !important;
}

.bg-penalty-state-0 {
    background-color: #6d8581 !important;
}

.bg-penalty-state-1 {
    background-color: #b91c1c !important;
}

.bg-penalty-state-2 {
    background-color: #b45309 !important;
}

.bg-penalty-state-3 {
    background-color: #047857 !important;
}

.bg-penalty-state-4 {
    background-color: #4d7c0f !important;
}
