@tailwind base;
@tailwind components;
@tailwind utilities;

.va-card {
    background-color: var(--va-background-element) !important;
    box-shadow: none !important;
}

.text-penalty-state-0 {
    color: #6d8581;
}

.text-penalty-state-1 {
    color: #b91c1c;
}

.text-penalty-state-2 {
    color: #4d7c0f;
}

.text-penalty-state-3 {
    color: #047857;
}

.text-penalty-state-4 {
    color: #b45309;
}

